body{
    width: 75%;
    margin: auto;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    padding: 10px 15px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}


header nav ul li a:hover{
border-bottom:1px solid black;
}

span{
    color: orange;
}

main{
    background-color: orange;
    border: 1px solid black;
}

main section{
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 10px;

}

.writing{
    color: white;
}

main h4{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    padding: 5%;
}

.flex-container{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-container div{
    margin: 20px;
    padding: 10px;
    
}

img{
    width:100%;
}