body{
    background-color: #fdffbc
}

h1{
    color: rgb(225, 156, 66);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom : 5px solid black;
    border-radius: 10px;
    text-align: center;

    
    

}

h2{
    color: black;
   font-size: 0px;
    
}

p{
   color:red;
   font-size: 15px;
}

ol{
    list-style-type:decimal

}

.paragraph{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

footer{
    background-color: ;
}

ul{
    list-style: none;
}

#nav-elements{
    display: block;
    padding: 15px 10px;
    background-color: black;
    border-right: 1px solid white; 
   
    
    
}   

#navbar{
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}

#nav-elements:hover{
    background-color: blue;
}

h1{
    border: 1px solid black;
}

